parameters:
	level: 1
	paths:
		- src
		- FOSSBilling
	excludePaths:
		analyse:
		- src/vendor (?)
		- FOSSBilling
	ignoreErrors:
		- '#^Function __trans not found\.$#'
		- '#^Constant PATH_MODS not found\.$#'
